:root {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #DED9D1;
}

.question {
  margin: 1em auto;
  border-radius: 1em;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  align-items: baseline;
  background-color: #FFFCF2;
}

.question > * {
  margin: 0 1em;
}

.question .votes {
  order: -1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  --button_size: 1.5em;
}


.question:last-child {
  border-bottom: 2px solid darkgrey;
}

.question #up {
  background-color: #34c26d;
  border: none;
  border-radius: 50%;
  width: var(--button_size);
  height: var(--button_size);
}

.question #up:hover {
  background-color: #2ca35c;
}

.question #down:hover {
  background-color: #a33c2c;
}

.question #down {
  background-color: #c24734;
  border: none;
  border-radius: 50%;
  width: var(--button_size);
  height: var(--button_size);
}

.question .summary-content {
  flex-grow: 1;
}
.question .summary-stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
