:root {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #EEF0F0;
}

.question {
  margin: 1em auto;
  border-radius: 1em;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFFFF;
  border-bottom: 2px solid darkgrey;
}

.question > * {
  margin: 0 1em;
}

.question .main-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.question .main-row p {
  flex-grow: 1;
}

.question .main-row > *{
  margin: 0 1em;
}


.question .votes {
  order: -1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  --button_size: 1.5em;
}

.question #up {
  background-color: #34c26d;
  border: none;
  border-radius: 50%;
  width: var(--button_size);
  height: var(--button_size);
}

.question #up:hover {
  background-color: #2ca35c;
}

.question #down:hover {
  background-color: #a33c2c;
}

.question #down {
  background-color: #c24734;
  border: none;
  border-radius: 50%;
  width: var(--button_size);
  height: var(--button_size);
}

.question .summary-content {
  flex-grow: 1;
}
.question .summary-stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #6a737c;
}

.question .summary-stats .submission-time {
  text-align: right;
  flex-grow: 1;
}

.question .tags {
  display: flex;
}

.question .tag {
  margin: 0 0.3rem;
}

.question .tags .tag-content p{
  color: initial;
  font-size: 0.8rem;
  background-color: #bee0ec;
  padding: 0.4rem 1rem;
  border-radius: 1.2rem;
  text-align: center;
}

.question hr {
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.question .comment input {
  background: none;
  border: none;
  color: grey;
  text-decoration: underline;
  cursor: pointer;    
}

.question .comment hr {
  border-color: #f9f9f9;
}

.question .comment .controls {
  display: flex;
}
.answers > .controls  {
  display: flex;
}

.answers > .controls input[type="submit"] {
  margin-right: 1rem;
  background: none;
  border: none;
  color: darkgrey;
  cursor: pointer;    
}

.answers > .controls input[type="submit"]:hover {
  color: grey;
  cursor: pointer;    
}

.question > .controls {
  display: flex;
}

.question > .controls input[type="submit"] {
  margin-right: 1rem;
  background: none;
  border: none;
  color: grey;
  cursor: pointer;    
  text-decoration: underline;
  margin-bottom: 0.7rem;
}

.question > .controls input[type="submit"]:hover {
  cursor: pointer;    
}

.answers p.submission_time {
  width: 100%;
  text-align: right;
}

.comment .submission_time {
  display: block;
  color: #6a737c;
  text-align: right;
}
