<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
</head>
<body> 

    <h3>Choose sorting options</h3>
    <form action="/list">
        <select name="order_by">
            <option value="title">Title</option>
            <option value="submission_time">Submission time</option>
            <option value="message">Message</option>
            <option value="number_of_views">Number of views</option>
            <option value="number_of_votes">Number of votes</option>
        </select>
        
        <select name="order_direction">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>

    <br>
    <br>

    <form action="/ask-question">
        <input type="submit" value="Add a question" />
    </form>

    <h1>List of questions</h1><br>
    

    {% if questions %}
        {% for question in questions %}
        <!--id,submission_time,view_number,vote_number,title,message,image-->
        <h2><a href="/question/{{question['id']}}">{{question["title"]}}</a></h2>
        <div>
            <a href="/question/{{question['id']}}/vote-up"> UP </a> 
            {{ question['vote_number'] }}
            <a href="/question/{{question['id']}}/vote-down"> DOWN </a>
        </div>
        <h3>{{question["message"]}}</h3>
        {% if question['image'] %}
            {% set url=url_for('static', filename=question['image']) %}
                <img src="{{ url }}" width="100">
        {% endif %}
        <p>Submission time: {{question["submission_time"]}}</p>
        <p>View number: {{question["view_number"]}} Vote number: {{question["vote_number"]}} </p><br>
        


        {% endfor %}
        {% else %}
        <p>There are no questions</p>
    {% endif %}
</body>
</html>
