<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="question">
        {%- from "question.html" import show_question %}
        {{ show_question(question) }}
    </div>
    {% if answers %}
    <div class="answers">
        <h2>Answers:</h2>
        {% for answer in answers %}
            <p>{{ answer['message'] }}</p>
            {% if answer['image'] %}
                {% set url=url_for('static', filename=answer['image']) %}
                <img src="{{ url }}" width="100">
                <br>
            {% endif %}
            <small>Posted on: {{ answer['submission_time'] }}</small><br>
            <form action="/answer/{{ answer['id'] }}/delete">
                <input type="submit" value="Delete the answer" />
            </form><br>
        {% endfor %}
    </div>
    {% endif %}

    <br>


    <form action="/question/{{ question['id'] }}/new-answer">
        <input type="submit" value="Add new answer" />
    </form>

    <br>

    <form action="/list">
        <input type="submit" value="Return to home" />
    </form>


    <br>

    <form action="/question/{{ question['id'] }}/delete">
        <input type="submit" value="Delete a question" />
    </form>

    <br>

    <form action="/question/{{ question['id'] }}/edit">
        <input type="submit" value="Edit a question" />
    </form>

</body>

</html>
