<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ question.title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <h2>Question:</h2>
    <div class="question">
        {%- from "question.html" import show_question %}
        {{ show_question(question, current_tags, question_id, all_tags) }}
        <div class="controls">
          <form action="/question/{{ question['id'] }}/new-answer">
              <input type="submit" value="Add new answer" />
          </form>
          <form action="/question/{{ question['id'] }}/delete" method="post">
              <input type="submit" value="Delete a question" />
          </form>
          <form action="/question/{{ question['id'] }}/edit">
              <input type="submit" value="Edit a question" />
          </form>
          <form action="/question/{{ question['id'] }}/new-comment">
              <input type="submit" value="Add comment to question" />
          </form>
        </div>
      {% if comments %}
        <hr>
      {% endif %}
      <div class="comments">
        {% for comment in comments %}
          {% if comment.question_id is not none and comment.answer_id is none %}
          <div class="comment">
            <small>{{ comment.message }}</small><br>
            <small class="submission_time">{{ comment.submission_time }}</small>
            <div class="controls">
              <form action="/comment/{{ comment.id }}/edit" method="get">
                <input type="submit" value="edit">
              </form>
              <form action="/comment/{{ comment.id }}/delete" method="post">
                <input type="submit" value="delete">
              </form>
            </div>
            <hr>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if answers %}
          <h2>Answers:</h2>
          {% for answer in answers %}
          <div class="answers question">
              <div class="main-row">
              <p>{{ answer['message'] }}</p>
                <div class="votes">
                  <form action="/answer/{{  answer['id'] }}/vote-up" method="post">
                    <button type="submit" id="up" class="material-icons">expand_less</button>
                  </form>
                    {{ answer['vote_number'] }}
                  <form action="/answer/{{  answer['id'] }}/vote-down" method="post">
                    <button type="submit" id="down" class="material-icons">expand_more</button>
                  </form>
                </div>
              {% if answer['image'] %}
                  {% set url=url_for('static', filename=answer['image']) %}
                  <img src="{{ url }}" width="100">
              {% endif %}
              </div>
              <div class="summary-stats">
                <p class="submission_time">Posted on: {{ answer['submission_time'] }}</p><br>
              </div>
              <div class="controls">
                <form action="/answer/{{ answer['id'] }}/new-comment" method="get">
                    <input type="submit" value="Add new comment to answer" />
                </form>
                <form action="/answer/{{ answer['id'] }}/delete" method="post">
                    <input type="submit" value="Delete the answer" />
                </form>
              </div>
              <hr>
              <div class="comments">
                {% for comment in comments %}
                  {% if comment.answer_id == answer.id %}
                  <div class="comment">
                    <small>{{ comment.message }}</small><br>
                    <small class="submission_time">{{ comment.submission_time }}</small>
                    <div class="controls">
                      <form action="/comment/{{ comment.id }}/edit" method="get">
                        <input type="submit" value="edit">
                      </form>
                      <form action="/comment/{{ comment.id }}/delete" method="post">
                        <input type="submit" value="delete">
                      </form>
                    </div>
                    <hr>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endfor %}
    {% endif %}

    <br>



    <br>

    <form action="/list">
        <input type="submit" value="Return to home" />
    </form>


</body>

</html>




