<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="question">
        <h2>Question:</h2>
        <h3>{{ question['title'] }}</h3>
        <p>
            {{ question['message'] }}
        </p>
        <small>Posted on: {{ question['submission_time'] }}</small>
        <hr>
    </div>
    {% if answers %}
        <div class="answers">
            <h2>Answers:</h2>
            {% for answer in answers %}
            <p>{{ answer['message'] }}</p>
            <small>Posted on: {{ answer['submission_time'] }}</small>
            {% endfor %}
        </div>
    {% endif %}
</body>

</html>
